/* ===== MOBILE VIEW (default) ===== */

body{
font-family: Arial;
text-align:center;
margin:0;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
}

.card{
width:90vw;
margin:10px;
padding:10px;
border:1px solid #ccc;
}

img{
width:100%;
height:auto;
}


/* ===== TABLET VIEW ===== */
@media screen and (min-width:772px){

.container{
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
}

.card{
width:45vw;
}

img{
max-height:30vh;
object-fit:cover;
}

}


/* ===== LARGE SCREEN ===== */
@media screen and (min-width:998px){

.card{
width:30vw;
}

}
